*{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    background-color: black;
    padding-bottom: 180px;
}
main{
    background-color: #474e5d;
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.navbar{
    display: flex;
}
.navbar ul li{
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}
.navbar a{
    margin-left: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.navbar a:hover{
    text-decoration-color: #003566;
    text-decoration: underline;
    color: #003566;
}
.navbar a.active{
    background-color: black;
    color: white;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.aboutcard {
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}

.nav-logo > img{
    margin-left: auto;
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden; 
}
.card{
    margin: 5px 15px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.card-header{
  text-decoration: solid;
}
.card > img{
    height: 100%;
    width: 100%;
}
/* .card:hover{
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
    opacity: 80%; 
} */
.gallery{
    margin: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
}
/* .gallery:hover{
  transform: scale(1.7);
  transition: all 0.2s ease-in-out;
  opacity: 80%; 
} */
.gallery > img{
    height: 50%;
    width: 50%;
}
.gallery > video{
    height: 100%;
    width: 100%; 
}
video{
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
}
/* .form{
    margin: 100px auto;
    display: block;
    background-color: #eae9ed;
    border-radius: 10px;
    border: 1px solid #eae9ed;
    min-height: 400px;
    width: 50%;
    position: relative; */
}
input[type="text"]:focus, textarea:focus{
    border: 1px solid #ccc;
}
input[type="text"], textarea{
    width: 80%;
    margin: 25px auto;
    text-align: left;
    display: block;
    outline: none;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
}
textarea{
    resize: vertical;
    min-height: 100px;
    margin-bottom: 0px;
}
button{
    border: #003566;
    background-color: white;
    padding: 12px 20px;
    border-radius: 8px;
    color: black;
    width: 40%;
    margin: 20px auto;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
    background-color: #003566;
    color: white
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
.footercontainer{
    position: fixed;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    bottom: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    bottom: 0;
  }
  .social-icon, .menu {
    
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}

  .wave {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 700px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 5px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 10px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 15px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
